# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build and cache files
dist/
build/
.cache/

# Temporary files
tmp/
temp/
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Typescript
*.tsbuildinfo
